
.react-simple-chatbot-chat-input {
  display: none !important;
}
.sc-cSHVUG{
  display: none !important;
}
.hQsUiY {
  /* max-width: none !important; */
  max-width: 530px;
}
.css-1153z2v-MuiTypography-root-MuiDialogTitle-root {
  background-color: #f5f8fb !important;
  color: #4a4a4a !important;;
}
.dPdbIW {
  width: 600px;
}

.efROPc {
  width: 600px;
}
.glfuN{
  height: 13px;
  background-color: #fff;

}
.fBGGBn
{
  overflow-y: scroll;
}
.gkhNlr
{
  padding: 0px 48px !important;
}

